<div class="wrapper">
  <div class="side-bar">
    <input class="form-submit" id="attack_button" type="submit" value="攻撃をする">
    <div class="order-form">
      <div class="form-input">
        <input class="form-message">
      </div>
      <input class="form-submit" type="submit" value="買物をする">
    </div>
    <input class='income' income='@user.income'>
    <input class='fixed_cost' fixed_cost='@user.fixed_cost'>
    <span><%= d = Date.new(Time.now.year, Time.now.month, -1).day %></span>
    <div class="status">
      想定ダメージ:<span id='damage'></span>
    </div>
  </div>
  <div class="main">
    <div class="mammon">
      <%= image_tag 'pose-akuma2.jpeg' %>
    </div>
    <div class="text">
      HP:
      <em><%= @user.target_amount %></em>
      /
      <em><%= @user.target_amount %></em>
    </div>
    <div class="text">
      MP:
      <em>0</em>
      /
      <em><%= @user.target_date %></em>
    </div>
  </div>
</div>